@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,300&display=swap');


*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

  font-family: 'Roboto', sans-serif; 
}

html{
  scroll-behavior: smooth;
}

.header-principal{
  display: flex;
  min-height: 90px;
  height: 12vh;
  background-color: rgb(17, 41, 89);
 
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
 
  position: fixed;
  box-sizing: border-box;
  width: 100%;
}
.bt-menu{
  color: #fff;
  font-size: 40px;
  display: none;
}

.header-title, .itens-menu{
  color: white;
  letter-spacing: 2px;
}

.header-title{
  font-size: 25px;
  font-weight: 500;
}

.header-principal ul{
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  text-transform: capitalize;
}

.header-principal ul .link-menu{
  text-align: center;
  margin-right: 15px;
}
.header-principal ul .link-menu .itens-menu{
  transition: opacity .2s ease;
}

.header-principal ul .link-menu .itens-menu:hover{
  opacity: .5;
}

/* sessão flex-turismo */

.container-flex-turismo, .container{
  display: flex;
  width: 80%;
  margin: auto;  
}
.container-flex-turismo{
  height: 100vh;
}

.container .cards{
  flex: 1;
}

.container-flex-turismo .card-flex-turismo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-flex-turismo .card-flex-turismo .centraliza h1{
  font-size: 50px;
  font-weight: 500;
  color: rgb(15, 34, 73);
  margin-bottom: 15px;
}
.container-flex-turismo .card-flex-turismo .centraliza p{
  margin-bottom: 55px;
}

.container-flex-turismo .card-flex-turismo .centraliza button{
  width: 200px;
  height: 40px;
  padding: 5px 15px;
  color: white;
  background-color: rgb(15, 34, 73);
  border-radius: 55px;
  font-size: 18px;

  transition: all .3s ease;
}

.container-flex-turismo .card-flex-turismo .centraliza button:hover{
  color: rgb(15, 34, 73);
  background-color: transparent;
  border: solid 2px rgb(15, 34, 73);
  cursor: pointer;
}

.container-flex-turismo .cards img{
  width: 100%;
  min-width: 350px;
  
}

.container-flex-turismo .card-imagem-flex-turismo{
  align-self: center;
}

/* sessão quem somos */

.container-quem-somos .cards img{
  width: 100%;
  min-width: 350px;
}

.container-quem-somos{
  height: 550px;
  align-items: center;
  margin-bottom: 100px;
}

.container-quem-somos .card-quem-somos{
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.container-quem-somos .card-quem-somos .quem-somos{
  display: flex;
  margin-bottom: 50px;
}

.container-quem-somos .card-quem-somos .quem-somos .divisor{
  flex-basis: 5px;
  background-color: rgb(21, 44, 92);
}

.container-quem-somos .card-quem-somos .quem-somos .letras-quem-somos{
  color: rgb(15, 34, 73);
  text-transform: capitalize;
  font-size: 25px;
  margin-left: 8px;
}

.container-quem-somos .card-quem-somos .quem-somos .letras-quem-somos h2{
  font-weight: 550;
}

.container-quem-somos .card-quem-somos p{
  margin-bottom: 35px;
}

/* Sessão servicos */

.servicos{
  height: 100vh;
  background-color: rgb(15, 34, 73);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.servicos h2{
  width: 80%;
  margin: 0;
  padding-bottom: 30px;
  color: white;
  font-size: 40px;
  font-weight: 500;
}

.servicos .container{
  width: 80%;
  justify-content: space-around;
  margin: 0;
}

.servicos .container .div-servicos{
  text-align: center;
  width: 20%;
  padding: 35px 20px;
  border-radius: 15px;

  transition: all .3s ease;
}
.servicos .container .div-servicos:hover{
  background-color: rgb(27, 54, 109);
}
.servicos .container .div-servicos img{
  width: 70%;
}
.servicos .container .div-servicos p{
  color: white;
  font-size: 20px;
  margin: 35px 0;
}

.servicos .container .div-servicos button{
  width: 100%;
  height: 50px;
  border-radius: 60px;
  font-size: 15px;
  border: none;
}

.servicos .container .div-servicos button:hover{
  cursor:pointer;
}

/* Sessão planos */

.planos{
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

.planos h2{
  width: 80%;
  margin: auto;

  padding-top: 95px;
  color: rgb(15, 34, 73);
  font-size: 40px;
  font-weight: 500;
}

.planos .container{
  width: 80%;
  height: 500px;
  justify-content: space-between;
  align-items: flex-end;
}

.planos .container .cards-planos{
  border: solid 4px rgb(23, 53, 112);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 35px;
  justify-content: space-between;
}

.planos .container .cards-planos-1{
  height: 60%;
}
.planos .container .cards-planos-2{
  height: 80%;
}
.planos .container .cards-planos-3{
  height: 100%;
}
.planos .container .cards-planos h3{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  flex: 1;
}

.planos .container .cards-planos .divisor{
  flex-basis: 3px;
  background-color:rgb(23, 53, 112);
}

.planos .container .cards-planos ul li{
  list-style: square;
  margin: 10px;
}

.planos .container .cards-planos ul{
  flex: 4;
  margin-top: 25px;
}
.planos .container .cards-planos button{
  height: 45px;
  color: white;
  background-color: rgb(15, 34, 73);
  border-radius: 60px;
  font-size: 18px;
  border: none;

  transition: all .3s ease;
}

.planos .container .cards-planos button:hover{
  background-color: transparent;
  color: rgb(15, 34, 73);
  border: solid 3px rgb(15, 34, 73);
  cursor: pointer;
}

/* Sessão rodapé */

.rodape{
  display: flex;
  justify-content: space-between;
  background-color: rgb(15, 34, 73);
  color: white;
  height: 100px;
  align-items: center;
  padding: 0 100px;
}

.rodape p{
  margin-top: 30px;
  font-size: 15px;
  text-align: center;
}


/* responsivo */

@media(max-width: 1000px){
  .planos .container .cards-planos{
    padding: 20px;
  }
}
@media(max-width: 860px){
  .container-flex-turismo, .container-quem-somos{
    width: 100%;
  }
  .servicos .container,
  .servicos h2{
    width: 100%;
  }
  .servicos h2{
    padding-left: 20px;
  }
  .planos .container{
    width: 93%;
  }
  .header-principal{
    padding: 0 100px;
  }

}
@media(max-width: 800px){
  .container-flex-turismo .card-flex-turismo,
  .container-quem-somos .card-imagem-quem-somos{
    justify-content: flex-start;
  }

  .container-flex-turismo .cards .centraliza{
    margin-left: 40px;
  }
  .servicos .container{
    justify-content: space-between;
  }
  .planos .container .cards-planos{
    width: 30%;
  }
}
@media(max-width: 760px){
  .container-flex-turismo{
    flex-direction: column-reverse;    
    align-items: center;
    padding-top: 13%;
  }
  .header-principal{
    padding: 0 50px;
  }
  .container-flex-turismo .cards .centraliza{
    margin: 0;
  }
  .container-flex-turismo .card-imagem-flex-turismo{
    max-width: 70%;
  }
  .container-quem-somos{
    flex-direction: column;  
    height: 100vh;
  }
  .container-quem-somos .cards .quem-somos{
    justify-content: center;
  }
  .container-flex-turismo .card-flex-turismo{
    justify-content: center;
  }
  .servicos{
    min-height: 100vh;
  }
  .servicos h2{
    padding: 0;
    height: 6%;
    text-align: center;
    margin-bottom: 1%;
  }
  .servicos .container{
    flex-direction: column;
    align-items: center;
    max-height: 93%;

    justify-content: center;
  }
  .servicos .container .div-servicos{
    height: 33.33%;
    width: 70%;
  }
  .servicos .container .div-servicos p{
    margin: 10px;
  }
  .servicos .container .div-servicos button{
    height: 38px;
  }
  .servicos .container .div-servicos img{
    width: 11%;
  } 
  .planos{
    min-height: 1500px;
    align-items: center;
  }
  .planos h2{
    margin: 0;
    padding: 15px;
    text-align: center;
    flex: 0 0 11%;
  }
  .planos h2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .planos .container{
    flex-direction: column;
    align-items: center;
    margin: 0;
    flex: 5;
  }
  .planos .container .cards-planos{
    height: 30%;
    width: 50%;
    padding: 30px 60px;
  }

  .planos .container .cards-planos-1{
    height: 25%;
  }
  .planos .container .cards-planos-2{
    height: 35%;
  }
  .planos .container .cards-planos-3{
    height: 37%;
  }
  .rodape{
    flex-direction: column;
    justify-content: space-evenly;
  }
  .rodape p{
    margin: 0;
  }
}
@media(max-width: 650px){
  .container-flex-turismo .card-imagem-flex-turismo img{
    width: 70%;
    
  }
  .container-flex-turismo .card-imagem-flex-turismo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-principal{
    padding: 0 30px;
  }
  body{
    overflow-x: hidden;
  }
  .header-principal .list{
    position: absolute;
    right: 0;
    top: 9vh;
    height: 91vh;
    width: 50vw;
    background-color: rgb(17, 41, 89);
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(100%);

    transition: all .3s ease-out;
  }
  .header-principal ul a{
    opacity: 0;
  }
  .header-principal .bt-menu{
    display: block;
  }

  /* menu */
}
@media(max-width: 580px){
  .planos .container .cards-planos{    
    width: 70%;
  }
}
@media(max-width: 460px){
  .planos .container .cards-planos{
    min-width: 70%;
  }
}
@media(max-width: 440px){
  .planos .container .cards-planos{
    padding: 35px;
  }
}
@media(max-width: 400px){
  .planos .container .cards-planos{
    padding: 30px;
  }
}

.list.active{
  transform: translateX(0);
}
.list.desactive{
  transform: translateX(100%);
}

/*Animação CSS*/

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}